*{
    box-sizing: border-box;
}

main{
    display: flex;
    flex-wrap: wrap;
}

article{
    flex: 1 0 473px;
    margin: 20px;
}

img{
    width: 473px;
    height: 209px;
}

p{
    text-align: center;
}

h3{
    text-align: center;
    color: silver;
}