*{
    box-sizing: border-box;
}

body{
    padding: 10px;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}

main{
    display: flex;
    flex-wrap: wrap;
}

article{
    flex: 1 0 473px;
    margin: 10px;
    padding: 10px;
}

img{
    width: 473px;
    height: 209px;
}

p{
    text-align: center;
}

header p{
    font-size: xx-large;
    color: silver;
}

span{
    color: black;
}

h3{
    text-align: center;
    color: silver;
}

footer{
    display: flex;
    justify-content: center;
}

button{
    background-color: white;
    padding: 10px 45px;
}